:root{
    /*Fuente de texto*/
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    /*Paleta de colores*/
    /*1C7C54*/
    --darkspringgreen: rgba(28,124,84,1);
    /*73E2A7*/
    --celadon: rgba(115,226,167,1);
    /*DEF4C6*/
    --teagreen: rgba(222,244,198,1);
    /*1B512D*/
    --calPolygreen: rgba(27,81,45,1);
    /*B1CF5F*/
    --yellowgreen: rgba(177,207,95,1);

    --blanco: rgba(255,255,255,1);
    --negro: rgba(0,0,0,1);
    --blue: rgba(135,206,250,1);
    
}


header{
    background-color: var(--celadon);
    text-align: center;
    font-family: var(--fuenteHeading);
}

body{
    background-color: var(--teagreen);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 3rem;
    margin: 0 auto;
}

main{
    min-height: 100%;
    flex: 1; /*Hace que main ocupe el espacio restante dentro del display flex que tiene body*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section{
    background-color: var(--blue);
    width: min(70rem , 100%); /* Utilizar el valor más pequeño entre 60rem y el 100% */
    padding: 1rem;
    border-radius: 0.8rem;
    margin: auto;
}

.formulario{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--blanco);
    font-family: var(--fuenteParrafos);
    align-items: left;
}

.campo{
    margin: 1rem 0rem 0rem 0rem;
}

.sa{
    margin: 0rem 0rem 0rem 1.5rem;
}

.button{

}

.form_submit{
    background-color: var(--blanco);
    width: 200px;
    margin-top: 2rem;
    padding: 12px;
    border: 0;
    border-radius: 10px;
    color: var(--negro);
    font-size: 1rem;
}

.form_submit:hover{
    background-color: var(--celadon);
}

