<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'style/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'style/style_ficha.css'%}">
</head>
<body>
      <header>
        <h1>Tabla doctores</h1>
      </header>
      <main>
          <table border="1" style="width:100%">
                <tr>
                    <th>NOMBRE</th>
                    <th>ESPECIALIDAD</th>
                    <th>SALARIO</th>
                </tr>
                {% for nom,espec,sal in lista_doctores %}
                    <tr>
                        <td>{{nom}}</td>
                        <td>{{espec}}</td>
                        <td>{{sal}}</td>
                    </tr>
               {% endfor %}
          </table>
        <a href="{% url 'formulario' %}">Volver a formulario</a>
      </main>
</body>
</html>