:root {
    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}


body{
 font-family: 'Roboto', sans-serif;
 background-color: rgba(233,233,233,1);
 color: rgba(255,255,255,1);
}

h1 {
    color: rgba(255,255,255,1);
    text-align: center;
}

.tabla{
    width: min(90%, 120rem);
    margin: 0 auto;
    text-align: center;
     background-color: rgba(12,43,202,1);
}

img{
    width: 200px;
    height: auto;
}
