<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deportes</title>
</head>
<body>
  <h1> Sección deportiva:</h1>
  <h3> Actualidad futbolistica.</h3>
  <p> Las lesiones en defensa en el Real Madrid vuelven a poner encima de la mesa el debate sobre el futuro
    más presente del club blanco: ¿Cantera o cartera? La de Militao, que ha sido el último en caer, ha servido
    para que Ancelotti le diera la alternativa a Raúl Asencio. El defensa grancanario, que jugó una hora ante
    el Osasuna, ha sido la última perla de La Fábrica en debutar con el primer equipo: "Desde pequeño sabía
    que viviría del futbol, aunque jugar en el Real Madrid son palabras mayores", cuenta con emoción su amigo
    de la infancia, Julen Reyes. Inseparables de pequeños, compartieron vestuario y amistad en la UD Las Palmas
    hasta el segundo año de infantil, cuando se mudó a Madrid para vestir de blanco.</p>
</body>
</html>