<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/normalize.css'%}" >
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css'%}" >
</head>
<body>
    <header>
        <h1>Introduzca datos para modificar la especialidad del doctor:</h1>
    </header>
    <main>
        <form class="formu" method="post" action="update">
            {% csrf_token %}
            Código doctor: <input type="text" name="txtdoc" /><br/><br/>
            Especialidad: <input type="text" name="txtespe" /><br/><br/>
            <input type="submit" value="Modificar Datos">
        </form>

         <div style="background-color:yellow;float:left">
          <a href="javascript:history.back()">VOLVER</a>
         </div>
    </main>
    <footer class ="footer">
        <p>Curso Python 2024</p>
        <p>@Todos los derechos reservado. Ildefonso Albares.</p>
    </footer>
</body>

</html>